body {
  background-color: rgb(194, 209, 211);
}
h1 {
  color: blue;
}
h2 {
  color: red;
}
h3 {
  color: purple;
}
h4 {
  color: pink;
}
h5 {
  color: green;
}
h6 {
  color: grey;
}
table, th, td {
  border: 1px solid black;
}
.hagi {
  color: orange;
  font-weight: bold;
  font-size: 23px;
}
.figo {
  color: green;
  font-weight: bold;
  font-size: 25px;
}
.kante {
  font-size: 10px;
  font-weight: bold;
}
.messi {
  float: left;
}
fieldset:nth-of-type(1) {
  background-color: #da8888; 
}

fieldset:nth-of-type(2) {
  background-color: #98f0c4;
}

fieldset:nth-of-type(3) {
  background-color: #ebda8e;
}

fieldset:nth-of-type(4) {
  background-color: #f79ddc; 
}

fieldset:nth-of-type(5) {
  background-color: #92b5cc; 
}

.zapatero {
  font-weight: bold;
  text-decoration: underline;
}